@model SearchAPartViewModel

<div class="form-group" asp-validation-class-for="SearchA">
    <label asp-for="SearchA">@T["SearchA"] </label>
    <input asp-for="SearchA" class="form-control text-muted" />
    <span asp-validation-for="SearchA"></span>
    <span class="hint">
        @T["The searchA of the content item."]
        @if (!String.IsNullOrWhiteSpace(Model.Settings.Pattern))
        {
            @T["Leave empty to re-generate it."]
        } 
    </span>       
</div>
